<ul>
{% for category in categories %}
    <li>
        <a href="{{ path('client_category_edit', {'id': category.id }) }}">{{ category.name }}</a>        
        <a href="{{ path('client_category_add', {'id': category.id }) }}">Dodaj podkategorię</a>       
        <form style="display: inline-block;" method="post" action="{{ path('client_category_delete', {'id': category.id}) }}">
            <button type="submit" class="btn btn-danger">Usuń</button>
        </form>
        {% if category.children %}
            <ul>
                {% include "ClientBundle:category:inc_tree.html.twig" with {'categories': category.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>